
#background{
    background: url(img/epk-background.jpg) no-repeat;
    background-position:center center;
    background-size: cover;

}
@media only screen and (max-width: 700px) {
    #socialmediacontainer {
        display: none;
    }
    #navbarBtnAtag{
        display: none;
    }
}
@media only screen and (min-width: 1440px) {
    .tel{
       margin-left: 200px;
    }
}
#socialmediacontainer{
    margin-top: 10px;
}
address{
    float: right;margin-bottom: 0;margin-top:3px;font-family: Fira Sans,sans-serif;
}
.tel{
    font-family: Fira Sans,sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e5253;
    float: right;
    padding-top: 2px;
    margin-left: 15px;
    margin-bottom: 0;
}
.telverde{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e5253;

}
li > a {
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
}
#socialMediaRow{
   border-bottom: 2px solid #dbd1bd;
    padding-bottom: 10px;
}
#logo{

    width: 245px;
    height: 60px;
    object-fit: contain;

}
#navbarAtag{
    width: 138px;
    height: 23px;
    font-family:Fira Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    border: none;
    text-decoration: none;

}
#navbarBtnAtag {
    float: right;
    width: 170px;
    height: 48px;
    border-radius: 16px;
    background-image: linear-gradient(to left, #408a8b, #1e5253 89%, #3f8a8b);

}
#landingH1 {
    font-family: Fira Sans,sans-serif;
    font-size: 52px;
    font-weight: 800 ;
    text-align: center;
    color: #2760aa;
}
#landingH5{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
}
#landingBtnPoli {
    width: 170px;
    height: 48px;
    border-radius: 16px;
    background-image: linear-gradient(to right, #e9ece9, #c6d3c6 89%, #e9ece9);


}
#landingBtnPoliA{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #495249;
}
#landingBtnHartie {
    width: 170px;
    height: 48px;
    border-radius: 16px;
    background-image: linear-gradient(to left, #dbd1bd, #b8af9e 89%, #dbd1bd);
}
#landingBtnHartieA{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #59554e;

}
.landingP{
    margin-top: 10px;
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
}
#landingBottomRow{
    padding-bottom: 150px;
}