#paperRow {
    background: url(img/textured-paper-margin.jpg) center center;
}
#paperRowMiddle{
    background: url(img/textured_paper.jpg) repeat;
    background-size:contain;
    padding-bottom: 150px;
}
#middlePaperH1{
    font-family: Fira Sans,sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1e5253;
}
.paperRowH3 {
    font-family: Fira Sans,sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4.4px;
    text-align: center;
    color: #1e5253;
}
@media only screen and (max-width: 700px) {
    .paperRowH3 {
        font-family: Fira Sans,sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #1e5253;
    }
}
.paperRowA{
    display: inline-table;
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    text-align: center;
    color: #4a4a4a;
}
#poliRowMiddle{
    background: url(img/textured-polietilena.jpg);
    background-size:cover;
    padding-bottom: 150px;
}
#middlePoliH1{
    position: relative;
    top: 35px;
    margin-bottom: -30px;
    font-family: Fira Sans,sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #2760aa;
}
.poliRowH3{
    font-family: Fira Sans,sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 4.4px;
    text-align: center;
    color: #2760aa;
}
.poliRowA{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    text-align: center;
    color: #4a4a4a;
}
#borderBottomMiddleContainer{
    border-top:2px solid #dbd1bd;
    border-bottom:2px solid #dbd1bd ;
}
#borderBottomMiddleContainerH2{
    margin-top: 35px;
    font-family: Fira Sans,sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #2760aa;
}
#borderBottomMiddleContainerBtn{
    margin-top: 15px;
    width: 170px;
    height: 48px;
    border-radius: 16px;
    background-image: linear-gradient(to left, #408a8b, #1e5253 89%, #3f8a8b);

}
#borderBottomMiddleContainerA{
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
}
#telVerde{
    margin-top: 3px;
    margin-bottom: 15px;
    font-family: Fira Sans,sans-serif;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e5253;
}
#clientsOpinion{
    background-color: #f3f3f3;
}
#clientsOpinionH1{
    margin-top: 60px;
    font-family: Fira Sans,sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #4a4a4a;
}

.placeholder{
    width: 102px;
    height: 98px;
    border-radius: 15px;
}
blockquote{
    float: right;
    font-family: Fira Sans,sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.57;
    color: #4a4a4a;
}
.col-md-6 > span {
    font-family: Fira Sans,sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.83;
    color: #4a4a4a;
}
#oval{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #dbd1bd;
    border-radius: 50px;
    margin-left:50.2%;
    top: 12px;
}
