h4{
    font-family: Fira Sans,sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #4a4a4a;
    border-bottom: 2px solid #dbd1bd;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 15px;
}
p{
    font-family: Fira Sans,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 3.14;
    color: #4a4a4a;
}
li{
    font-family: Fira Sans,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 3.67;
    text-align: center;
    color: #9b9b9b;
}
span{
    font-family: Fira Sans,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.83;
    color: #4a4a4a !important;
}
.btnModal{
    width: 100px;
    height: 28px;
    border-radius: 16px;
    background-image: linear-gradient(to right, #e9ece9, #c6d3c6 89%, #e9ece9);
}
.modal-content{
    border-radius: 15px;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top:none;
    border-bottom: none;
}
.carousel-inner{
    border-radius: 15px;

}
.carousel-control{
    border-radius: 15px;
    background-color: transparent;
}
.item > img {
    margin-left: 30%;
}